
/*@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,400i,700,700i&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');*/

body {
    font-family: 'Roboto', sans-serif;
    /*text-shadow: 2px 2px 5px darkgray;*/
    margin-top: 120px;
    margin-left: 0px;
    margin-right: 0px;

}

#main-header {
    font-family: 'Oswald', sans-serif;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    position: fixed;
    background: #87AFC7;
    width: 100%;
    top: 0px;
    height: 100px;

}

/*h1 {*/
/*    margin-left: 20px;*/
/*    margin-top: 35px;*/
/*    margin-bottom: 2px;*/

/*    !*position: absolute;*!*/
/*}*/

#top-stories {
    width: 100px;
    margin: 50px;
    margin-top: 20px;

}

.my-pagearea{
    margin-left: 20px;
}


.my-input:focus {
    background: #b2beff;
    color: #000000;
    outline: none;
}


.my-input, .my-textarea {
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #aaa;
    resize: none;
}

.profile-menu{
    margin-top: 5px;
    list-style: none;
    float: right;
    margin-top: 45px;
    margin-right: 15px;
}

[data-trigger='dropdown']{
    padding-bottom: 45px;
}

#site-title {
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
}

.submenu{
    list-style: none;
    padding: 0px;
    boarder: 1px solid #aaa;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 40px;
    box-shadow: 2px 2px 15px rgba(0,0,0.3);
    width: 300px;
    position: absolute;
    right: 10px;
    display: none;

}

.submenu.active{
    display: block;
}

.submenu a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: #333;
    text-shadow: none;
    font-weight: 600;
}

.submenu a:hover{
    background: #eee;
}

section {
    max-width: 100%;
    width: 900px;
    margin:auto;
}

#context {
    display: inline-block;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(0,0,0,.5);
    display: none;
}

.context-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;


}

.context-menu a {
    display: block;
    width: 200px;
    padding: 10px;
    color: #333333;
    text-shadow: none;
    text-decoration: none;
    font-weight: 600;

}

.context-menu a:hover {
    background: #eee;
}

.context-menu a.hidden {
    display:none;
}

.context-menu a.hidden.shown{
    display:block;
}

.status{
//display:block;
}

div {
    font-size: x-large;
}


button{
    /*background:CornflowerBlue;*/
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background:#fff;
    color:#002eff;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: CornflowerBlue;
    transition:400ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

#go-button {
    background: aquamarine;
}

#prove-button {
    background: #ff325b;
}

#description {
    font-size: large;
}
